doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title student Table
  // plugins:css
  link(rel='stylesheet' href='../../assets/vendors/mdi/css/materialdesignicons.min.css')
  link(rel='stylesheet' href='../../assets/vendors/css/vendor.bundle.base.css')
  // endinject
  // Plugin css for this page
  link(rel='stylesheet' href='../../assets/vendors/select2/select2.min.css')
  link(rel='stylesheet' href='../../assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css')
  // End plugin css for this page
  // inject:css
  // endinject
  // Layout styles
  link(rel='stylesheet' href='../../assets/css/style.css')
  // End layout styles
  link(rel='shortcut icon' href='../../assets/images/favicon.png')
.card-body
  h2.card-title Student Table
  .table-responsive
    button.btn.btn-info.btn-icon-text(type='button')
      a(href='registrationform.html' style=' text-decoration: none; color: inherit;') Add Student   
      i.mdi.mdi-account
    table.table.table-striped
      thead
        tr
          th  Firstname 
          th  Lastname 
          th  Email 
          th  Course 
          th  Delete 
          th  Update 
      tbody
        tr
          td.py-1
            | Clinton
          td Mugisha
          td
            | mugishaclinton412@gmail.com
          td Certificate in Software Engneering with Javascript
          td
            button.btn.btn-inverse-danger.btn-fw(type='button') Delete
          td
            button.btn.btn-inverse-success.btn-fw(type='button') Update
// container-scroller
// plugins:js
script(src='../../assets/vendors/js/vendor.bundle.base.js')
// endinject
// Plugin js for this page
script(src='../../assets/vendors/select2/select2.min.js')
script(src='../../assets/vendors/typeahead.js/typeahead.bundle.min.js')
// End plugin js for this page
// inject:js
script(src='../../assets/js/off-canvas.js')
script(src='../../assets/js/hoverable-collapse.js')
script(src='../../assets/js/misc.js')
script(src='../../assets/js/settings.js')
script(src='../../assets/js/todolist.js')
// endinject
// Custom js for this page
script(src='../../assets/js/file-upload.js')
script(src='../../assets/js/typeahead.js')
script(src='../../assets/js/select2.js')
// End custom js for this page
